.idea
.vscode
.codebuddy

*.tfstate*
.terraform
.terraform.lock.hcl

# Downloaded helm charts
**/charts/**.tgz

.idea
.vscode

# generated policy.json file
policy.json

# Ignore config file
dz_config.json

**/__pycache__/**

.DS_Store

# Ignore files created by permission helper
terraform/examples/aws/permission-helper/permissions/*.json

venv/