**/charts/charts/**
**/Chart.lock

.idea
.vscode
.codebuddy

*.tfstate*
.terraform

# Downloaded helm charts
**/charts/**.tgz

.idea
.vscode

# generated policy.json file
policy.json

# Ignore config file
dz_config.json

**/__pycache__/**